log/*
*~
__pycache__
*.py[cod]
node_modules
*.swp
.tags*
venv/
tmp_*
*.sublime-project
*.sublime-workspace
.idea
.vscode*
.ropeproject
.spyderproject
.spyproject
.ipynb_checkpoints
.flake8
.pylintrc
docs/Balance\ RFID\ -\ Mode\ d\'emploi.pdf
docs/Balance\ RFID\ -\ Montage.pdf
docs/RFID\ -\ Logigramme.pdf
docs/fsm_strategy_example.py
Public/
